
@{
    ViewBag.Title = "KullaniciSozlesmesi";
}
<setcion>
    <article class="row format-standard" style="color:white">
        <h1 style="color:white" class="align-center">Kullanıcı Sözleşmesi</h1>
        <p>
            www.LogosPathos.com'u daha kaliteli ve daha eğlenceli hale getirmek için aşağıdaki maddeleri uygulama konusunda duyarlılığınızı bekliyoruz:
        </p>
        <p>
            Hakaret - Kişisel Bilgiler: İfade özgürlüğünü destekliyoruz. Ancak, üyelerimize kendilerini özgür şekilde ifade etme alanı sunarken, başkalarını taciz etme ve karalama imkânı vermemekteyiz. Kişi veya grupların dinini, dilini, cinsiyetini, ırkını, etnik grubunu, milliyetini aşağılayıcı içeriğe izin vermiyoruz. Saldırgan davranışlar, tehdit, taciz, özel yaşama saldırı, diğer kullanıcıların kişisel bilgilerinin ifşası hoşgörü sınırlarımızın dışında. Bu içeriğe sahip yorumlar, konular ve gönderilen içerikler hiçbir uyarı olmaksızın silinecektir. Gerekli görülürse ilgili üyelik hiçbir uyarı olmaksızın kapatılacaktır.
        </p>
        <p>
            Zararlı Alışkanlıklar: Satışı veya kullanımı reçeteye bağlı her türlü ilaç ile uyuşturucu madde kapsamına giren ve bağımlılık yaratan bilumum maddelerin tanıtımı, pazarlaması, tavsiyesi mahiyetinde videolar, içerikler ve yorumlar hiçbir uyarı olmaksızın silinecektir. Gerekli görülürse ilgili üyelik hiçbir uyarı olmaksızın kapatılacaktır.
        </p><p>
            Aşırı Şiddet: Şiddeti yaşamımızdan ve bilgisayarımızdan uzak tutmak istiyoruz. Bir insana ya da hayvana acı çektirilmesi, aşağılanması, saldırılması hoşgörü sınırlarımızın dışındadır. Dolayısıyla, her türlü insan veya hayvan yaralama, öldürme, parçalama, vahşet kısaca insan psikolojisi açısından ciddi sakıncalar barındıran her türlü yayını içeren videolar, içerikler ve yorumlar hiçbir uyarı olmaksızın silinecektir. Gerekli görülürse ilgili üyelik hiçbir uyarı olmaksızın kapatılacaktır.
        </p><p>
            Silahlar ve Patlayıcı Maddeler: Yasadışı silah veya patlayıcı madde yapımı, pazarlaması veya kullanımına ilişkin içerik yayınlayan videolar, içerikler ve yorumlar hiçbir uyarı olmaksızın silinecektir. Gerekli görülürse ilgili üyelik hiçbir uyarı olmaksızın kapatılacaktır.
        </p><p>
            Resmi İçerik: Görüntü alınmasına veya fotoğraf çekilmesine izin verilmeyen askeri veya diğer resmi kurumlara ait videolar, içerikler ve yorumlar hiçbir uyarı olmaksızın silinecektir. Gerekli görülürse ilgili üyelik hiçbir uyarı olmaksızın kapatılacaktır.
        </p><p>
            Fikri ve Sınai Mülkiyet Hakları: Başkalarına ait fikri ve sınai mülkiyet haklarının korunması için gerekli özenin gösterilmesi gerekmektedir. Bu kapsamda Kullanıcılar sadece fikri ve sınai mülkiyet hakları kendisine ait olan (eser sahibi olarak veya eserlerin kullanım, yayınlama ve iletim haklarının yasal lisans sahibi olarak) İçeriği Siteye yükleyebilir. Eğer Kullanıcı fikri ve sınai mülkiyet hakları başkasına (diğer Kullanıcılar dâhil) ait olan video, fotoğraf, resim, yazı vb. İçeriği, söz konusu hak sahiplerinin izni olmaksızın kopyalar, kullanır, yayınlar, dağıtır, umuma iletirse, LogosPathos ihlale konu olan İçeriği -hiçbir uyarıya veya izne gerek olmaksızın- Siteden kaldırmak ve gerektiğinde bu ihlali gerçekleştiren Kullanıcıların üyeliğine son vermek haklarına sahiptir. Üçüncü şahısların fikri ve sınai mülkiyet haklarını ihlal eden Kullanıcılar, bu ihlallerden ve bu ihlallerden doğan her türlü zarardan üçüncü şahıslara karşı bizzat sorumludurlar.
        </p><p>
            Siyaset veya Dini İçerik: Her siyasi görüşe ve dine saygı duyuyor ama bunların suistimal edilmesini istemiyoruz. Bu yüzden siyasi veya dini içerikli makaleler, videolar ve yorumlar hiçbir uyarı olmaksızın silinecektir. Gerekli görülürse ilgili üyelik hiçbir uyarı olmaksızın kapatılacaktır.
        </p><p>
            Yasalara Aykırılık: Yasanın suç saydığı fiilleri öven, suça özendiren, ticari olarak haksız rekabete neden olan, illegal bilgisayar yazılımı tanıtan tüm içerikler de hiçbir uyarı olmaksızın silinecektir. Gerekli görülürse ilgili üyelik hiçbir uyarı olmaksızın kapatılacaktır.
        </p><p>
            Ayrıca yukarıdaki tüm kurallar, Kullanıcılar tarafından sitede yapılan yorum ve yüklenen imajlar için de geçerlidir.
        </p><p>
            Kullanıcı Şikâyeti: LogosPathos'un içerik ve kullanıcı sayısının fazlalığı sebebiyle nadiren de olsa yukarıda belirtilen unsurlardan birinin veya birkaçının yanlışlıkla sitemizde yer aldığı durumlarda şahsınız ya da toplum adına bizi uyarmaktan kaçınmayınız. Uyarınız derhal ilgili departmanlarımızca incelenerek dikkate alınacak ve aykırılık en kısa sürede giderilecektir.
        </p><p>
            Yasal Sorumluluk
        </p><p>
            İşbu Sözleşmeyi kabul etmekle birlikte gerçek kişi Kullanıcılar 18 yaşından büyük olduğunu ve sözleşme yapmak için gereken fiil ehliyetine sahip olduğunu, tüzel kişi Kullanıcılar ise, bu sözleşmenin yetkili kişiler tarafından kabul edildiğini ve tüzel kişi için bağlayıcı olduğunu kabul ve beyan ederler. Ayrıca Kullanıcı, sözleşmeyi kabul ederek siteye giriş yapmaya yetkili olduğunu, sitede sağlanan hizmetlerin kullanımında ve siteye girişinde her türlü sorumluluğu üstlendiğini gayrikabilirücu kabul, beyan ve taahhüt eder.
        </p><p>
            İşbu sözleşme ile üyeler, siteye ekledikleri içeriklerin, yorumların ve videoların LogosPathos tarafından kullanılmasını ve LogosPathos'un bu videoları üçüncü mecra/kişilere çoğaltma, yayma, temsil ve işaret/ses veya görüntü nakline yarayan araçlarla umuma iletimi amacıyla alt lisans verme hakkına sahip olmasını kabul, beyan ve taahhüt ederler. Kişisel kullanım dışında veya ticari amaçlı olarak herhangi bir LogosPathos'a ait içeriği, LogosPathos'un yazılı onayı olmaksızın kullanma, çoğaltma, modifiye etme, dağıtma, depolama/saklama yasaktır.
        </p><p>
            Üye, siteye girmek ve bağlanmak için gerekli ekipman veya yardımcı servisleri edinmekten ve bunları korumaktan sorumludur. Üye, servislerin kullanımı için gerekli, modemler, bilgisayar donanımı, yazılım, uzun ya da kısa mesafe telefon servisleri, herhangi bir sınırlama olmadan, bilimum gerekli cihaz ve ekipmanı bulundurmakla yükümlüdür. Kullanıcı bu gibi ekipmanların veya yardımcı servislerin, 'Servis'lerle uyumlu olması güvencesinden sorumludur.
        </p><p>
            Bazı hallerde devlet, kişileri ya da kuruluşları, sizin hakkınızda bilgi ifşaatına icbar edebilir. LogosPathos uygun gördüğü takdirde, bu gibi hallerde, sizin yetki vermenize gerek kalmadan bu talebi yerine getirecektir. LogosPathos, mevcut veya muhtemel bir hukuk davasında, gerçeğe erişmeyi kolaylaştırmak amacıyla,
        </p>
        <p>
            (a) eğer gerekli görürse,
            (b) böyle açıklamaların kendisinin potansiyel mükellefiyetini hafifleteceğine inanırsa veya
            (c) kendi haklarını korumak için
        </p><p>
            bazı kişisel bilgilerinizi paylaşmayı uygun görebilir.
        </p><p>
            Sitedeki bilgilerin güncelliği, doğruluğu, şartları, kalitesi, performansı, pazarlanabilirliği, belli bir amaca uygunluğu ve sitede yer alan ve bunlarla sınırlı olmayan, bunlarla bağlantılı veya bağımsız diğer bilgi, hizmet veya ürünlere etkisi ile tamlığı hakkında herhangi bir şekilde, açık ya da zımni olarak garanti verilmemekte ve taahhütte bulunulmamaktadır.
        </p><p>
            Site dâhilinde üçüncü kişiler tarafından sağlanan hizmetlerden ve yayınlanan İçeriklerden dolayı LogosPathos'un, işbirliği içinde bulunduğu kurumların, LogosPathos çalışanlarının ve yöneticilerinin sorumluluğu bulunmamaktadır. Herhangi bir üçüncü kişi tarafından sağlanan ve yayınlanan bilgilerin, içeriklerin, görsel ve işitsel imgelerin doğruluğu ve hukuka uygunluğunun taahhüdü, bütünüyle bu eylemleri gerçekleştiren üçüncü kişilerin sorumluluğundadır. LogosPathos, üçüncü kişiler tarafından sağlanan hizmetlerin ve İçeriklerin güvenliğini, doğruluğunu ve hukuka uygunluğunu taahhüt ve garanti etmemektedir.
        </p><p>
            LogosPathos, Site dâhilinde sunulan hizmetleri, tasarımı ve site içeriğini her zaman değiştirebilme hakkını saklı tutmaktadır. Sunulan hizmetler, hiçbir şekilde Kullanıcılara kazanılmış hak tahsis etmez.
        </p><p>
            LogosPathos, sitede sunduğu hizmetler kapsamında belirli bir amaca uygunluk, kesintisiz devamlılık, güncelleme, işlevsellik, doğruluk, hatasızlık dahil, açık ya da zımni hiçbir garanti vermemektedir. LogosPathos, gerekli gördüğü zamanlarda hizmetleri geçici bir süre askıya alabilir veya tamamen durdurabilir. Hizmetlerin geçici bir süre askıya alınması veya tamamen durdurulmasından dolayı LogosPathos'un Kullanıcılara karşı herhangi bir sorumluluğu olmayacaktır.
        </p><p>
            Kullanıcı, siteyi kullanarak, işbu Kullanıcı Sözleşmesi'nin tamamını okuduğunu, içeriğini bütünü ile anladığını ve tüm hükümlerini onayladığını kabul, beyan ve taahhüt eder.
        </p><p>
            Bu Kullanıcı Sözleşmesi, zaman içinde LogosPathos tarafından güncellenebilir. Kullanıcılar, siteye her giriş yaptığında güncellenmiş sözleşme maddelerini kabul etmiş sayılır. Duyarlılığınız için teşekkür ederiz.
        </p>
    </article>
</setcion>