
<h3>Logos Pathos Hakkında</h3>

<p>
    Logos Latince mantık anlamına gelir, Pathos ise arzularımızı temsil eder. İnsanlık Mythos'tan Logos'a geçeli uzun zaman oldu. Geriye elimizde mantığımız ve arzularımız kaldı, ancak onlar da sık sık çatışmaya girmekten hiç çekinmiyor. 
</p>
<p>Bu sayfalarda hayat yolculuğumuzda bizi yönlendiren iki temel üzerine olan yazılar, Müzik, Bilim, Teknoloji ve alt dalları ile ilgili değerlendirmeler sizlere sunuluyor.</p>
@*<ul class="about__social">
    <li>
        <a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    </li>
    <li>
        <a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </li>
    <li>
        <a href="#0"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    </li>
    <li>
        <a href="#0"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
    </li>
</ul>*@